:root {
  --black: #3C4353;
  --gray: #545E75;
  --gray-clear: #545E7511;
  --white: #FFF4E9;
  --white-clear: #FFF4E911;
  --red: #C03221;
  --light-red: #F26157;
  --red-clear: #C0322111;
  --green: #3F826D;
  --green-clear: #3F826D22;
  --yellow: #F3B700;
  --yellow-clear: #F3B70011;
}
body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: var(--white);
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-content: center;
  background-color: var(--white);
  color: var(--gray);
}
.App-Dark {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-content: center;
  background-color: var(--black);
  color: var(--white);
}
.Dark-Button {
  display: flex;
  width: 100px;
  height: 40px;
  border: 2px solid var(--white);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: var(--white);
  cursor: pointer;
  user-select: none;
}
.Dark-Button:hover {
  background-color: var(--white-clear);
}
.Light-Button {
  display: flex;
  width: 100px;
  height: 40px;
  border: 2px solid var(--gray);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  cursor: pointer;
  user-select: none
}
.Light-Button:hover {
  background-color: var(--gray-clear);
}
.Dark-Edit-Button {
  display: flex;
  width: 100px;
  height: 40px;
  border: 2px solid var(--light-red);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: var(--light-red);
  cursor: pointer;
  user-select: none;
}
.Dark-Edit-Button:hover {
  background-color: var(--red-clear);
}
.Light-Edit-Button {
  display: flex;
  width: 100px;
  height: 40px;
  border: 2px solid var(--red);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: var(--red);
  cursor: pointer;
  user-select: none
}
.Light-Edit-Button:hover {
  background-color: var(--red-clear);
}
.Progress-Wrapper {
  width: 80vw;
  margin-left: 10vw;
}
.Progress-Bar {
  position: relative;
  width: 80%;
  margin-left: 10%;
  height: 10px;
  border: 2px solid var(--yellow);
  border-radius: 25px;
  margin-bottom: 40px;
}
.Inner-Bar {
  position: relative;
  height: 10px;
  border-radius: 25px;
  background-color: var(--yellow);
}
.Progress-Container { 
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Round {
  width: 40px;
  height: 40px;
  margin: 10px;
  margin-top: 80px;
  text-align: center;
  align-content: center;
  border: 2px solid var(--gray);
  color: var(--gray);
  opacity: 50%;
  border-radius: 20px;
  user-select: none
}
.Round-Dark {
  width: 40px;
  height: 40px;
  margin: 10px;
  margin-top: 80px;
  text-align: center;
  align-content: center;
  border: 2px solid var(--white);
  color: var(--white);
  opacity: 50%;
  border-radius: 20px;
  user-select: none
}
.Round-Complete {
  width: 40px;
  height: 40px;
  margin: 10px;
  margin-top: 80px;
  text-align: center;
  align-content: center;
  border: 2px solid var(--green);
  color: var(--green);
  background-color: var(--green-clear);
  border-radius: 20px;
  user-select: none
}
.Cards-Container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Card {
  width: 270px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--gray);
  color: var(--gray);
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
  font-size: 30px;
  margin-bottom: 30px;
}
.Card:hover {
  background-color: var(--gray-clear)
}
.Card-Dark {
  width: 270px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--white);
  color: var(--white);
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
  font-size: 30px;
  margin-bottom: 30px;
}
.Card-Dark:hover {
  background-color: var(--white-clear)
}
.Actions-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Undo-Button {
  width: 80px;
  height: 80px;
  margin: 30px;
  text-align: center;
  align-content: center;
  border: 2px solid var(--red);
  color: var(--red);
  cursor: pointer;
  border-radius: 20px;
  user-select: none
}
.Undo-Button:hover {
  background-color: var(--red-clear);
}
.Undo-Button-Dark {
  width: 80px;
  height: 80px;
  margin: 30px;
  text-align: center;
  align-content: center;
  border: 2px solid var(--light-red);
  color: var(--light-red);
  cursor: pointer;
  border-radius: 20px;
  user-select: none
}
.Undo-Button-Dark:hover {
  background-color: var(--red-clear);
}

.Refresh-Button {
  width: 80px;
  height: 80px;
  margin: 30px;
  text-align: center;
  align-content: center;
  border: 2px solid var(--yellow);
  color: var(--yellow);
  cursor: pointer;
  border-radius: 20px;
  user-select: none
}
.Refresh-Button:hover {
  background-color: var(--yellow-clear);
}
.Values-Wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Values-List {
  color: var(--white);
  font-size: 30px;
  margin: 0 40px 0 40px;
}
.Help-Text {
  display: flex;
  justify-content: center;  
  animation-name: fade-in;
  animation-duration: 0.5s;
}
.Help-Text-Dark {
  display: flex;
  justify-content: center;  
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.List-Wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}
.List {
  animation-name: fade-in; 
  animation-duration: 2s;
  animation-fill-mode: forwards;
} 
.Fade-In {
  animation-name: fade-in-1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.Fade-Out {
  animation-name: fade-in-1;
  animation-duration: 2s;
  animation-direction: reverse;
}
.List-Dark { 
  animation-name: fade-in; 
  animation-duration: 2s;
  animation-direction: reverse;
} 
.Value {
  animation-name: fade-in-1;
  animation-duration: 2s;
  width: fit-content;
  display: flex;
  padding: 10px;
  font-size: 30px;
  
  cursor: pointer;
  user-select: none;
}
.Light:hover {
  outline: 2px solid var(--gray);
  border-radius: 15px;
}
.Light {
  color: var(--gray);
}
.Dark:hover {
  outline: 2px solid var(--white);
  border-radius: 15px;
}
.Dark {
  color: var(--white);
}
ol {
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

li:nth-child(1) { 
  animation-delay: 0; 
} 

li:nth-child(2) { 
  animation-delay: 0.2s; 
} 

li:nth-child(3) { 
  animation-delay: 0.4s; 
} 

li:nth-child(4) { 
  animation-delay: 0.6s; 
} 

li:nth-child(5) { 
  animation-delay: 0.8s; 
} 

li:nth-child(6) { 
  animation-delay: 1.0s; 
} 

ol li:nth-child(7) { 
  animation-delay: 1.2s; 
} 

@keyframes fade-in { 
  from { 
    color: var(--white)
  } 

  to { 
    color: var(--black);
  } 
} 

@keyframes fade-in-1 { 
  from { 
    opacity: 0;
  } 

  to { 
    opacity: 1;
  } 
} 